header {
background-color:#8DD3C3;
height: auto;
}


.main {
background-color: white;
height: 600px;
}

footer {
background-color: #E1EDEA;
height: 300px;
}
.textHeader {
    font: size 60px;
    font-family: 'Times New Roman', Times, serif;

}

.ilTopnav {
    display: flex;
    padding: 50px 100px;
}