a {
    text-decoration: none;
}
header {
background-color:#8DD3C3;
height: auto;
}

h1{
    color: #254D88;

}

p{
    color: #254D88;
}


.main {
background-color: white;
height: 600px;
}

footer {
background-color: #E1EDEA;
height: 300px;
}
.textHeader {
    font: size 60px;
    font-family: 'Times New Roman', Times, serif

}
.ulTopnav {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
}

.ilTopNav {
    display: inline-block;
    padding: 10px;
    width: 187px;
    text-align: center;
    margin-right: 20px;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 40px;
    background-color: white;
    color: #254D88;

}

.ilTopNav a{
    text-decoration: none;
    color: #254D88;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.bio {
    display: flex;
}

